<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/book2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UploadMathsFile"></activity>
        <activity android:name=".ViewMathsPastpapers" />
        <activity android:name=".sci_voc_electromahnetism_sinhala" />
        <activity android:name=".sci_voc_electromahnetism_tamil" />
        <activity android:name=".sci_voc_electronics_sinhala" />
        <activity android:name=".sci_voc_electronics_tamil" />
        <activity android:name=".sci_voc_power_sinhala" />
        <activity android:name=".sci_voc_power_tamil" />
        <activity android:name=".sci_voc_heat_sinhala" />
        <activity android:name=".sci_voc_heat_tamil" />
        <activity android:name=".sci_voc_optics_sinhala" />
        <activity android:name=".sci_voc_optics_tamil" />
        <activity android:name=".sci_voc_waves_sinhala" />
        <activity android:name=".sci_voc_waves_tamil" />
        <activity android:name=".sci_voc_hydrocarbons_sinhala" />
        <activity android:name=".sci_voc_hydrocarbons_tamil" />
        <activity android:name=".sci_voc_electrochemistry_sinhala" />
        <activity android:name=".sci_voc_electrochemistry_tamil" />
        <activity android:name=".sci_voc_acids_sinhala" />
        <activity android:name=".sci_voc_acids_tamil" />
        <activity android:name=".sci_voc_mixtures_sinhala" />
        <activity android:name=".sci_voc_mixtures_tamil" />
        <activity android:name=".sci_voc_biosphere_sinhala" />
        <activity android:name=".sci_voc_biosphere_tamil" />
        <activity android:name=".sci_voc_humanbody_sinhala" />
        <activity android:name=".sci_voc_humanbody_tamil" />
        <activity android:name=".sci_voc_photosyn_sinhala" />
        <activity android:name=".sci_voc_photosyn_tamil" />
        <activity android:name=".sci_voc_tissues_sinhala" />
        <activity android:name=".sci_voc_tissues_tamil" />
        <activity android:name=".sciencequiz_test" />
        <activity android:name=".Science2" />
        <activity android:name=".mat_geometric" />
        <activity android:name=".mat_datarepren" />
        <activity android:name=".mat_equations" />
        <activity android:name=".mat_sharemarket" />
        <activity android:name=".mat_percentages" />
        <activity android:name=".mat_algebraicfra" />
        <activity android:name=".mat_binomialex" />
        <activity android:name=".mat_realnumbers" />
        <activity android:name=".Geometric" />
        <activity android:name=".DataRepresentation" />
        <activity android:name=".Equations" />
        <activity android:name=".ShareMarket" />
        <activity android:name=".Percentage" />
        <activity android:name=".Aigebraic" />
        <activity android:name=".Binomial" />
        <activity android:name=".RealNumber" />
        <activity android:name=".AddmathsPastpaper" />
        <activity android:name=".AddmathsQuiz" />
        <activity android:name=".AddmathsLesson" />
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Alarm" />
        <activity android:name=".SecountActivity" />
        <activity android:name=".sci_acids_acids" />
        <activity android:name=".sci_heat_heat" />
        <activity android:name=".sci_biosphere_lifestyle" />
        <activity android:name=".sci_temperature_voc_select_medium" />
        <activity android:name=".sci_power_circuits" />
        <activity android:name=".sci_power_chapters" />
        <activity android:name=".sci_power_appliences" />
        <activity android:name=".sci_magnetism_voc_select_medium" />
        <activity android:name=".sci_levels_voc_select_medium" />
        <activity android:name=".sci_lesson_previous_sample2" />
        <activity android:name=".sci_introdution_voc_select_medium" />
        <activity android:name=".sci_hydrocarbons_polymer" />
        <activity android:name=".sci_hydrocarbons_ethen" />
        <activity android:name=".sci_hydrocarbons_chapters" />
        <activity android:name=".sci_humanbody_respiration" />
        <activity android:name=".sci_humanbody_excertion" />
        <activity android:name=".sci_humanbody_digestion" />
        <activity android:name=".sci_humanbody_coordination" />
        <activity android:name=".sci_humanbody_circulation" />
        <activity android:name=".sci_humanbody_chapters" />
        <activity android:name=".sci_heat_temperature" />
        <activity android:name=".sci_heat_matter" />
        <activity android:name=".sci_heat_chapters" />
        <activity android:name=".sci_ethen_voc_select_medium" />
        <activity android:name=".sci_electronics_junctions" />
        <activity android:name=".sci_electronics_introduction" />
        <activity android:name=".sci_electronics_current" />
        <activity android:name=".sci_electronics_chapters" />
        <activity android:name=".sci_electromagnetism_magnetism" />
        <activity android:name=".sci_electromagnetism_magneticeffects" />
        <activity android:name=".sci_electromagnetism_induction" />
        <activity android:name=".sci_electromagnetism_chapters" />
        <activity android:name=".sci_electrochemistry_electrolysis" />
        <activity android:name=".sci_electrochemistry_electrochemical" />
        <activity android:name=".sci_electrochemistry_chapters" />
        <activity android:name=".sci_digestion_voc_select_medium" />
        <activity android:name=".sci_chemicalcells_voc_select_medium" />
        <activity android:name=".sci_biosphere_pollution" />
        <activity android:name=".sci_biosphere_levels" />
        <activity android:name=".sci_biosphere_ecosystems" />
        <activity android:name=".sci_biosphere_development" />
        <activity android:name=".sci_biosphere_chapters" />
        <activity android:name=".sci_appliences_voc_select_medium" />
        <activity android:name=".sci_acids_voc_select_medium" />
        <activity android:name=".sci_acids_salts" />
        <activity android:name=".sci_acids_chapters" />
        <activity android:name=".sci_acids_bases" />
        <activity android:name=".sci_reflection_voc_select_medium" />
        <activity android:name=".sci_optics_lenses" />
        <activity android:name=".sci_optics_refraction" />
        <activity android:name=".sci_optics_mirrors" />
        <activity android:name=".sci_optics_reflection" />
        <activity android:name=".sci_optics_chapters" />
        <activity android:name=".sci_mechanical_voc_select_medium" />
        <activity android:name=".sci_waves_instruments" />
        <activity android:name=".sci_waves_sounds" />
        <activity android:name=".sci_waves_mechanical" />
        <activity android:name=".sci_waves_chapters" />
        <activity android:name=".sci_types_voc_select_medium" />
        <activity android:name=".sci_mixtures_separation" />
        <activity android:name=".sci_mixtures_types" />
        <activity android:name=".sci_mixtures_chapters" />
        <activity android:name=".sci_factors_voc_select_medium" />
        <activity android:name=".sci_photosyn_importance" />
        <activity android:name=".sci_photosyn_products" />
        <activity android:name=".sci_photosyn_factors" />
        <activity android:name=".sci_photosyn_chapters" />
        <activity android:name=".sci_tissues_animal" />
        <activity android:name=".sci_plant_voc_select_medium" />
        <activity android:name=".sci_tissues_plant" />
        <activity android:name=".sci_tissues_chapters" />
        <activity android:name=".ViewSciencePastPapers" />
        <activity android:name=".view_pdf" />
        <activity android:name=".upload_file" />
        <activity android:name=".Grade" />
        <activity android:name=".MixedQuiz" />
        <activity android:name=".try_relativelayout" />
        <activity android:name=".BiosphereResults" />
        <activity android:name=".HydrocarbonsResults" />
        <activity android:name=".ElectromagnetismResults" />
        <activity android:name=".ElectrochemistryResults" />
        <activity android:name=".ElectronicsResults" />
        <activity android:name=".PowerResults" />
        <activity android:name=".HeatResults" />
        <activity android:name=".AcidResults" />
        <activity android:name=".HumanBodyResults" />
        <activity android:name=".GeometricalResults" />
        <activity android:name=".WavesResults" />
        <activity android:name=".PhotosynthesisResults" />
        <activity android:name=".LivingtissuesResults" />
        <activity android:name=".Electromagnetism" />
        <activity android:name=".Electrochemistry" />
        <activity android:name=".Electronics" />
        <activity android:name=".Power_and_Energy" />
        <activity android:name=".Heat" />
        <activity android:name=".Waves" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".Hydrocarbons" />
        <activity android:name=".AddPastPapers" />
        <activity android:name=".AddLessons" />
        <activity android:name=".AddQuiz" />
        <activity android:name=".Biosphere" />
        <activity android:name=".HumanBody" />
        <activity android:name=".adminscience" />
        <activity android:name=".Splash" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SelectionActivity" />
        <activity android:name=".mathsadmin" />
        <activity android:name=".SciencePastPapers" />
        <activity android:name=".ScienceQuiz" />
        <activity android:name=".ScienceLessons" />
        <activity android:name=".MathsPastPapers" />
        <activity android:name=".MathsQuiz" />
        <activity android:name=".MathsLesssons" />
        <activity android:name=".Settings" />
        <activity android:name=".Score" />
        <activity android:name=".Science" />
        <activity android:name=".Maths" />
        <activity android:name=".Mixture" />
        <activity android:name=".Photosynthesis" />
        <activity android:name=".Acid" />
        <activity android:name=".Livingtissues" />
        <activity android:name=".Game" />
        <activity android:name=".WordSearchActivity" />
        <activity android:name=".EndGame" />
        <activity android:name=".Livingtissues2" />
        <activity android:name=".WordSearchActivity2" />
        <activity android:name=".Photosynthesis2" />
        <activity android:name=".Mixture2" />
        <activity android:name=".Geometrical" />
        <activity android:name=".Waves2" />
        <activity android:name=".Geometrical2" />
        <activity android:name=".HumanBody2" />
        <activity android:name=".Acid2" />
        <activity android:name=".Heat2" />
        <activity android:name=".Power_and_Energy2" />
        <activity android:name=".Electrochemistry2" />
        <activity android:name=".Electromagnetism2" />
        <activity android:name=".Hydrocarbons2" />
        <activity android:name=".MixedQuiz2" />
        <activity android:name=".Geometric2" />
        <activity android:name=".DataRepresentation2" />
        <activity android:name=".Equations2" />
        <activity android:name=".ShareMarket2" />
        <activity android:name=".Percentage2" />
        <activity android:name=".Aigebraic2" />
        <activity android:name=".Binomial2" />
        <activity android:name=".RealNumber2" />
        <activity android:name=".mathsquiz_test" />
        <activity android:name=".Maths2" />
        <activity android:name=".WordSearchActivity3" />
        <activity android:name=".EndGame2" />
        <activity android:name=".EndGame3" />

        <receiver android:name=".AlarmReceiver" />
        <activity android:name=".ResultsActivity2"/>
    </application>

</manifest>